body{
    font-family:'Courier New', Courier, monospace;
}
p{
    text-align: center;
    text-decoration: underline;
}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
}
h2{
    border-bottom: 2px solid black;
}
img{
    image-orientation: flip;
}
