body{
    font-family: Helvetica, sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: justify;
    text-decoration: none;
}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}
h2{
    border-bottom: 2px solid black;
}
figure{
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    margin: 30px;
}
figcaption{
    padding-top: 10px;
}
