body{
    font-family: Helvetica, sans-serif;
}
p{
    text-align: justify;
    text-decoration: none;
}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
}
h2{
    border-bottom: 2px solid black;
}
figure{
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
}
